# macOS
.DS_Store

# Xcode user-specific files
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside

# Xcode user data
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Derived data
DerivedData/

# Build artifacts
build/


